<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}
  </head>
  <body class="template {{ template }} " >
 
   

     {%  if template !="cart"   %}
    <a href="/cart" class="link-to-cart">
      <script>
        console.log({{ cart.item_count | json}});
      </script>
      {% if cart.item_count > 0 %}
        checkout your cart
      
      {% else %}
        your cart is empty
         {% endif %}
      </a>
      {% else  %}
     <a href="/" class="link-to-home">
       Link to Home
     </a>
      {%endif%}

      {% if template != "cart" and template != "index"%} 
               {% include 'error404' %}
         {% endif %}


    <main role="main"  {% if template != "cart" and template != "index" %}  style="display: none;"{% endif %}  > 
        {{ content_for_layout }}
      </main>


    </body>
  </body>
</html>